*{

 box-sizing: border-box;
 margin: 0;
 padding: 0 ;

}

body {
 width: 100%;
 font-family: "Roboto", sans-serif;
 background: var(--background);
}



:root {
 --button: #FF0000;
 --main-background:  #C4C4C4;
 --background: #E5E5E5;
 --text: #000;
 --footer: #000;
 --text-description: #9C9696;
}

.logo {
 position: absolute;
 width: 52px;
 height: 36.4px;

 left: 4.17%;
 top:3.61%;
}


#navbar {
 display: flex;
 justify-content: center;
 width: 100%;


}

#navbar .navbar-container {
 width: 100vw;
 display:flex;
 align-items: center;
 justify-content: space-evenly;
 
 
}
#navbar .navbar-container ul {
 display: flex;
 list-style: none;
 font-weight: 700;
 font-style: normal;
 font-size: 21px;
 text-transform: uppercase;

 color: var(--text);


}

#navbar .navbar-container ul li {
 
 padding-top: 21px;
 margin:0 70px;
 z-index: 2;
}

/*search */

input {
 position: absolute;
 width: 220px;
 height: 40px;
 left: 1080px;
 top: 20px;
 margin:0 60px
}

input#search {
 font-size: 18px;
 font-style: normal;
 font-weight: 500;
 text-align: center;

 background-image: url("./assets/icon-search.svg");
 background-repeat: no-repeat;
 background-position:left 10px top 10px ;
 z-index: 2;

 border: none;
}

#navbar .bag {

 position: absolute;

 width: 34px;
 height: 34px;
 left:1310px;
 top: 18px;
 
 margin:0 80px;
 z-index: 2;

}

#photo {
 display: flex;
 flex-direction: column;
 width: 900px;
 height:914px;
 position: absolute;
 top: 0;
 left:540px;
 
 
 background: var(--main-background);
 
}

#photo .photo-item {
 position: relative; 
 width: 590px;
 height: 510px;

 margin: 0 auto;
 top:175px;

}

#photo .photo-items {
 position: absolute;
 top: 690px;
 left: 10px;
}

#photo .photo-items img {
 margin-left: 25px;
}

#photo .photo-items .photo-items1 {
 width: 269px;
 height: 182px;
}

#photo .photo-items .photo-items2 {
 width: 250px;
 height:187.88px;
 border-bottom: 3px solid red;
 
}

#photo .photo-items .photo-items3 {
 width: 270px;
 height: 182.8px;

}


#info {
 display: flex;

}

#info .price {
 position: absolute;
 width: 360px;
 height:533px;
 left: 111px;
 top:190px;
}

#info .price h1 {
 font-size: 60px;
 font-style: normal;
 font-weight: bold;
 line-height: 70px;
}
#info .price .description {
 font-size: 16px;
 font-style: normal;
 font-weight: bold;
 line-height: 19px;
 color: var(--text-description);
 margin-top:21px;
}

#info .price .price-title {
 font-size: 40px;
 font-style: normal;
 font-weight: bold;
 line-height: 47px;
 margin-top: 21px;
}

button {
 position: absolute;
 width: 274px;
 height: 90px;
 margin-top: 21px;
 color: var(--background);
 border: none;

}

#info .btn-primary {
 background-color:  var(--button);
 font-size: 24px;
 font-weight: bold;
 font-style: normal;
 line-height: 28px;
}

#footer {
 position: absolute;
 width: 1440px;
 height:166.33px;
 left: 0px;
 top:914px;
}

#footer .footer-container {
 display:flex;
 align-items: center;
 justify-content: space-between;
}


#footer .footer-container ul{
 display: flex;
 justify-content:space-around;
 font-size: 18px;
 font-style: normal;
 font-weight: 700;
 line-height: 21px;
 list-style: none;
}

#footer .footer-container ul li {
 display: flex;
 align-items: center;
 margin: 0 40px;
 text-transform: uppercase;
}

#footer .footer-container p {
 position: relative;
 align-items: center;
 justify-content: center;
 width: 437px;
 height: 166px;

 }

 #footer .footer-container .text {

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--text);
  color: #FFFFFF;;
  font-size:24px;
  
  font-weight:bold;
  font-style: normal;
  line-height: 28px;

  text-transform: uppercase;
  
  background-image: url("./assets/icon-arrow.svg");
 background-repeat: no-repeat;
 background-position:left 320px top 70px ;
 }


 

